h3{
margin:                         0;
color:                          rgba(20, 20, 35, .5);
border-bottom: 1px solid rgba(20, 20, 35, .3);
padding:                        0 0 3px 0;
transition: all 250ms ease;
text-decoration: none;
}

h2{
  color: rgab(20,20,35,1);
  transition: all 250ms ease;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
a:

span{
color: rgba(20,20,35,.35);
border-bottom: 1px solid rgba(20,20,35,.1);
margin: 0%;
padding: 0 0 3px 0;
transition:all 250ms ease;
text-decoration:none;
}



